{
  "remote_cache": {
    "enabled": false,
    "bucket": "",
    "region": ""
  },
  "scripts": {
    "build": {
      "command": "npm run build",
      "inputs": [
        "app/**/*",
        "src/**/*",
        "public/**/*",
        "package.json",
        "package-lock.json",
        "tsconfig.json",
        "next.config.js"
      ],
      "outputs": [
        ".next/"
      ],
      "env_keys": [
        "NODE_ENV"
      ]
    }
  }
}